In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [29]:
pd.Series(data= my_data)

0    10
1    20
2    30
dtype: int64

In [31]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [34]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [35]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [37]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [38]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [39]:
d

{'a': 10, 'b': 20, 'c': 30}

In [41]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [44]:
ser1 = pd.Series([1,2,3,4],['USA','GERMANY','USSR','JAPAN'])

In [46]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [50]:
ser2 = pd.Series([1,2,5,4],['USA','GERMANY','ITALY','JAPAN'])

In [51]:
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [55]:
ser1['USA']

1

In [56]:
ser3 = pd.Series(data=labels)

In [57]:
ser3

0    a
1    b
2    c
dtype: object

In [61]:
ser1+ser2

USA        2
GERMANY    4
ITALY      8
JAPAN      8
dtype: int64

In [62]:
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [63]:
ser1 + ser2

USA        2
GERMANY    4
ITALY      8
JAPAN      8
dtype: int64